@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.h1 {
    width: 100%;
    height: 80px;
    background-color: #EDE9E0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0 20px;
    border-bottom: 1px solid #E9E1D7;
}

.logo {
    flex-grow: 1;
    text-align: left;
    font-weight: bold;
    font-size: 26px;
    white-space: nowrap;
    font-family: 'Barlow Condensed', sans-serif;
}

.options {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    align-items: center;
    transition: all 0.3s ease;
}

.o1 {
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.o1:hover,
.o1.selected {
    color: #AB5429;
    border-bottom: 3px solid #AB5429;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 25px;
}

.drawer-open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: #EDE9E0;
    width: 200px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.drawer-open .o1 {
    padding: 15px;
    text-align: center;
    border: none;
}

@media (max-width: 1024px) {
    .menu-icon {
        display: none;
    }

    .options {
        display: flex;
    }
}

@media (max-width: 768px) {
    .logo {
        font-size: 22px;
    }

    .menu-icon {
        display: block;
    }

    .options {
        display: none;
    }

    .drawer-open {
        display: flex;
    }
}
